.list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 320px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-right: 36px;
}

@media (min-width: 660px) {
  .list {
    justify-content: center;
  }
}
