.btn-black,
.btn-white {
  width: 200px;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
}

.btn-white {
  background-color: #fff;
  color: #212322;
}

.btn-black {
  position: relative;
  background-color: #1e201f;
  color: #fff;
}

.btn-black::after {
  content: '';
  position: absolute;
  top: 21px;
  right: 21px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}
