.btn-black,
.btn-white {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
}

.btn-white {
  background-color: #fff;
  color: #212322;
}

.btn-black {
  background-color: #1e201f;
  color: #fff;
}

.btn-black::after,
.btn-white::after {
  content: '';
  display: inline-block;
  margin-left: 8px;
  margin-top: 8px;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg) translateY(-50%);
}

.btn-black::after {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.btn-white::after {
  border-right: 1px solid #212322;
  border-bottom: 1px solid #212322;
}
