.background {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  z-index: 9999;
}

.card-container {
  height: max-content;
}

.btn-close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 100%;
  padding-top: 10px;
  cursor: pointer;
}

.btn-txt {
  margin-right: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.card {
  position: relative;
  height: 624px;
  width: 273px;
  overflow: hidden;
  border-radius: 18px;
}
