.background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.card-container {
  position: relative;
}

.btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -38px;
  right: 0;
  height: 30px;
  cursor: pointer;
}

.btn-txt {
  margin-right: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
