.container {
  /* background-color: black; */
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

@media (min-width: 640px) {
  .title {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 1.8rem;
  }
}
