.title {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
}

.header {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.4rem;
  background-color: #212322;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-first {
  height: 746px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1c1b;
}

.page-first .desc {
  margin-top: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #fff;
}

.page-first .desc span {
  color: #fcb954;
}

.page-first .desc em {
  color: #fcb954;
  font-size: 36px;
}

.page-second,
.page-third {
  display: flex;
  height: 790px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.page-second .desc,
.page-third .desc {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #000000;
}

.page-second .desc {
  margin-top: 50px;
  font-size: 24px;
}

.page-second .desc em {
  color: #286cec;
}

.profile-card-container {
  display: inline-block;
  position: relative;
}

.recruit-msg-container {
  position: absolute;
}

.page-third .desc {
  margin-top: 100px;
}
