.container {
  /* background-color: black; */
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

@media (min-width: 640px) {
  .title {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 1.8rem;
  }
}

.profile-card-container {
  display: inline-block;
  position: relative;
}

.recruit-msg-container {
  position: absolute;
}

.common-inner {
  max-width: 767px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
